/* Colors */ 
$color-primary: #0275d8; 
$color-success: #5cb85c; 
$color-info:    #5bc0de; 
$color-warning: #f0ad4e; 
$color-danger:  #d9534f; 
 
/* Shadows */ 
$shadow-2dp: 0 2px 2px 0 rgba(0, 0, 0, .14), 
             0 3px 1px -2px rgba(0, 0, 0, .2), 
             0 1px 5px 0 rgba(0, 0, 0, .12); 
 
/* Animations */ 
$animation-duration-default: .2s; 
$animation-curve-default: cubic-bezier(.4, 0, .2, 1); 